<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/ionicons.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css/personalizado.css" >

    <title>Derek Learn</title>
  </head>
  <body>
    <h1>Derek Tantando!</h1>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
          <div class="container">
                  <a class="navbar-brand" href="index.html">Derek Test</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">


                  <ul class="navbar-nav mr-auto">
                  <li class="nav-item menu">
                      <a class="nav-link" href="index.html">Home </a>
                  </li>
                  <li class="nav-item menu">
                      <a class="nav-link" href="sobre_empresa.html">Sobre a Empresa</a>
                  </li>

                  <li class="nav-item menu">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>

                  <li class="nav-item menu">
                      <a class="nav-link" href="contato.html">Contato</a>
                  </li>
                  </ul>

        </div>
      </div>
      </nav>
    </header>

      <main role="main">


        <div class="jumbotron sobre_empresa">
          <div class="container">
            <h2 class="display-4 text-center art-titulo" style="margin-bottom:40px;">Sobre a empresa Derek</h2>

            

            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading titulo-sobre">Empresa Um</h2>
                <p class="lead texto-sobre">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5 order-md-1 imagem-sobre">
               <img class="featurette-image img-fluid mx-auto" src="imagens/imagem_um.jpg">
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading titulo-sobre2">Empresa Dois</h2>
                <p class="lead texto-sobre2">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5 order-md-1 imagem-sobre2">
                <img class="featurette-image img-fluid mx-auto" src="imagens/imagem_dois.jpg">
               </div>
            </div>
        
            <hr class="featurette-divider">


            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading titulo-sobre3">Empresa 3</h2>
                <p class="lead texto-sobre3">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5 order-md-1 imagem-sobre3">
               <img class="featurette-image img-fluid mx-auto" src="imagens/imagem_um.jpg">
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading titulo-sobre4">Empresa 4</h2>
                <p class="lead texto-sobre4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5 order-md-1 imagem-sobre4">
                <img class="featurette-image img-fluid mx-auto" src="imagens/imagem_dois.jpg">
               </div>
            </div>
        
            <hr class="featurette-divider">
            
            
            
          </div>
        </div>		
        <footer class="footer bg-danger">
          <div class="container text-center">
            <span class="text-muted">@copyright derek.com</span>
          </div>
        </footer>


      </main>
  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="https://unpkg.com/scrollreveal"></script>

<script>

window.sr = ScrollReveal({reset:true});
sr.reveal('.titulo-sobre',{
  duration:1000,
  origin:'left',
  distance:'20px'
});
sr.reveal('.texto-sobre',{
  duration:1000,
  origin:'left',
  distance:'20px'
});
sr.reveal('.imagem-sobre',{
  duration:1000,
  origin:'left',
  distance:'20px'
});


sr.reveal('.titulo-sobre2',{
  duration:1000,
  origin:'right',
  distance:'20px'
});

sr.reveal('.texto-sobre2',{
  duration:1000,
  origin:'right',
  distance:'20px'
});

sr.reveal('.imagem-sobre2',{
  duration:1000,
  origin:'right',
  distance:'20px'
});

sr.reveal('.titulo-sobre3',{
  duration:1000,
  origin:'left',
  distance:'20px'
});
sr.reveal('.texto-sobre3',{
  duration:1000,
  origin:'left',
  distance:'20px'
});
sr.reveal('.imagem-sobre3',{
  duration:1000,
  origin:'left',
  distance:'20px'
});


sr.reveal('.titulo-sobre4',{
  duration:1000,
  origin:'right',
  distance:'20px'
});

sr.reveal('.texto-sobre4',{
  duration:1000,
  origin:'right',
  distance:'20px'
});

sr.reveal('.imagem-sobre4',{
  duration:1000,
  origin:'right',
  distance:'20px'
});


</script>
  



    
  </body>
</html>